.encabezado {
  border-radius: 10px;
  background: #517fc4;
  padding: 20px;
  width: 200px;
  height: 30px;
}  

.titulo {
  background: #517fc4;
  padding: 20px;
  height: 30px;
}  

.subtitulo {
  background: #517fc4;
  padding: 20px;
  width: 45%;
  height: 15px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}  

